body {
    background-color: black;
    color: #ccc;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5em;
    margin: 20px 0;
}

h1 span {
    color: green;
}

.crop-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.crop-item {
    background-color: #555;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.crop-item:hover {
    background-color: #777;
    transform: scale(1.1); /* Slightly enlarge the item */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3); /* Add a subtle glow */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
a {
    text-decoration: none;
    color: inherit; /* Optionally, you can change the text color here */
}

.crop-item img {
    width: 100%;
    height: 130px;
    display: block;
    max-width: 130px;
    margin-left: auto;
    margin-right: auto;
}

.crop-item p {
    margin: 0;
    font-size: 1em;
    color: black;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
}

@media (max-width: 600px) {
    .crop-item {
        width: 100px;
        padding: 15px;
    }
    .crop-item img {
        width: 40px;
        height: 40px;
    }
}
